* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*:focus {
  outline: 2px solid #57A773;
}

html, body {
  margin: 0;
  padding: 0;
}

body {
  background: #e2f0e4;
  font-family: "Poppins", sans-serif;
}

.wrapper {
  width: 90%;
  margin: 0 auto;
}

@media (max-width: 860px) and (min-width: 625px) {
  .wrapper {
    width: 95%;
  }
}

@media (max-width: 624px) {
  .wrapper {
    width: 95%;
  }
}

.navigation {
  width: 100%;
  height: auto;
  margin-top: 1.25rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

.navigation h2 {
  margin: 0;
  font-size: 2em;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  color: #489665;
  font-weight: 600;
  letter-spacing: 1px;
  text-transform: lowercase;
}

@media (max-width: 624px) {
  .navigation h2 {
    font-size: 1.5em;
  }
}

.navigation .social-icon {
  color: inherit;
  text-decoration: none;
  text-align: center;
  width: 2rem;
  height: auto;
  color: darkgray;
  margin: 0 0.5rem;
}

.navigation .social-icon i.fa {
  font-size: 1.75em;
}

@media (max-width: 624px) {
  .navigation .social-icon i.fa {
    font-size: 1.5em;
  }
}

.teatime_wrapper {
  position: relative;
  width: 90%;
  margin: 1.5rem auto;
  overflow: hidden;
}

@media (max-width: 860px) and (min-width: 625px) {
  .teatime_wrapper {
    width: 100%;
  }
}

@media (max-width: 624px) {
  .teatime_wrapper {
    margin: 1rem auto 0 auto;
    width: 100%;
  }
}

.teatime_container {
  width: 100%;
  max-width: 700px;
  height: auto;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
      align-content: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-transition: -webkit-transform 1800ms ease;
  transition: -webkit-transform 1800ms ease;
  transition: transform 1800ms ease;
  transition: transform 1800ms ease, -webkit-transform 1800ms ease;
}

.teatime_container .tea_item {
  margin: 1rem;
  width: 200px;
  height: 200px;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  background: #fdfffd;
}

@media (max-width: 860px) and (min-width: 625px) {
  .teatime_container .tea_item {
    width: 160px;
    height: 160px;
  }
}

@media (max-width: 624px) {
  .teatime_container .tea_item {
    width: 125px;
    height: 125px;
    margin: 0.75rem;
  }
}

.teatime_container .tea_item i.fa {
  font-size: 3em;
  color: #527d59;
}

@media (max-width: 860px) and (min-width: 625px) {
  .teatime_container .tea_item i.fa {
    font-size: 2.5em;
  }
}

@media (max-width: 624px) {
  .teatime_container .tea_item i.fa {
    font-size: 1.75em;
  }
}

.teatime_container .tea_item .tea_name {
  font-size: 1.75em;
  letter-spacing: 1px;
  font-weight: 600;
  color: #151515;
}

@media (max-width: 860px) and (min-width: 625px) {
  .teatime_container .tea_item .tea_name {
    font-size: 1.5em;
  }
}

@media (max-width: 624px) {
  .teatime_container .tea_item .tea_name {
    font-size: 1.25em;
  }
}

.teatime_container .tea_item .tea_time {
  font-size: 1.15em;
  color: #555;
}

@media (max-width: 860px) and (min-width: 625px) {
  .teatime_container .tea_item .tea_time {
    font-size: 1.05em;
  }
}

@media (max-width: 624px) {
  .teatime_container .tea_item .tea_time {
    font-size: 1em;
  }
}

.teatime_container .tea-bl i.fa {
  color: #474747;
}

.teatime_container .tea-gr i.fa {
  color: #99CC99;
}

.teatime_container .tea-wh i.fa {
  color: #b6bcbe;
}

.teatime_container .tea-ol i.fa {
  color: #CBAC88;
}

.teatime_container .tea-ro i.fa {
  color: #F0544F;
}

.teatime_container .tea-hr i.fa {
  color: #D0CE7C;
}

.teatime_timer {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  -webkit-transition: -webkit-transform 2000ms ease;
  transition: -webkit-transform 2000ms ease;
  transition: transform 2000ms ease;
  transition: transform 2000ms ease, -webkit-transform 2000ms ease;
}

.teatime_timer .close {
  position: absolute;
  top: 2px;
  right: 2px;
  padding: 5px;
  font-size: 1.5em;
  line-height: 0;
  cursor: pointer;
  background: #f55555;
}

.teatime_timer .timer {
  width: 95%;
  height: 100%;
  margin: 0 auto;
  background: #fdfffd;
  text-align: center;
}

.teatime_timer .timer h2 {
  padding-top: 2rem;
}

.teatime_timer .timer p {
  font-size: 4em;
}
/*# sourceMappingURL=styles.css.map */